
@{
    ViewData["Title"] = "Index";
}

<h1>Funcionarios - Escolha uma opção</h1>

<ul>
    <li>
        <a asp-action="ListarFuncionarios" asp-controller="Funcionario">Lista de Funcionarios</a>
    </li>
    <li>
        <a asp-action="IncluirFuncionario" asp-controller="Funcionario">Cadastro de Funcionarios</a>
    </li>
</ul>